<%- include('./includes/header') %>
<!-- 不把</head>放進去 因為各自頁面可能會使用不同的CDN -->
</head>
<body>
<%- include('./includes/navbar')%>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger mt-5" role="alert">
                    看來發生了點錯誤 :(
                  </div>
                  <img class="img-fluid" src="https://klizos.com/wp-content/uploads/funny-404-error-page-GIF-klizo-solutions.gif" alt="">
            </div>
        </div>
    </div>

    <%- include('./includes/footer') %>